body {
    background: #f4f6f9;
    transition: 0.3s;
}

.dark-mode {
    background: #121212;
    color: white;
}

.card {
    border-radius: 15px;
}

.result-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}

.animate-btn {
    transition: 0.3s;
}

.animate-btn:hover {
    transform: scale(1.05);
}

/* Loader */
.loader {
  display:none;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 20px auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}
