body {
    background:#f4f6f9;
}

.result-card{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0px 0px 10px rgba(0,0,0,0.1);
}

.loader{
display:none;
border:6px solid #f3f3f3;
border-top:6px solid #3498db;
border-radius:50%;
width:40px;
height:40px;
animation:spin 1s linear infinite;
margin:auto;
}

@keyframes spin{
100%{transform:rotate(360deg);}
}

.dark{
background:#121212;
color:white;
}
