{% extends "base.html" %}

{% block content %}

<h2 class="text-center">Energy Forecast</h2>

<form action="/forecast_result" method="post">

<input class="form-control"
name="history"
placeholder="Enter last 7 days energy (comma separated)">

<br>

<button class="btn btn-success w-100 animate-btn">
Forecast
</button>

</form>

{% if forecast %}

<div id="chart"></div>

<script>
var data = [{
    y: {{ forecast | safe }},
    type: "scatter",
    mode: "lines+markers",
    line: {color: "green"}
}];

Plotly.newPlot("chart", data);
</script>

{% endif %}

{% endblock %}
