{% extends "base.html" %}
{% block content %}

<h2 class="text-center">Energy Prediction</h2>

<form action="/predict" method="post" onsubmit="showLoader()">

<div class="card p-4 shadow">

<div class="row">
<div class="col-md-4">
<label>Current</label>
<input class="form-control" name="current" required>
</div>

<div class="col-md-4">
<label>Temperature</label>
<input class="form-control" name="temperature" required>
</div>

<div class="col-md-4">
<label>Usage Hours</label>
<input class="form-control" name="usage" required>
</div>
</div>

<br>

<div class="row">
<div class="col-md-4"><input class="form-control" name="month" placeholder="Month"></div>
<div class="col-md-4"><input class="form-control" name="day" placeholder="Day"></div>
<div class="col-md-4"><input class="form-control" name="hour" placeholder="Hour"></div>
</div>

<br>

<button class="btn btn-primary w-100">Predict</button>

</div>
</form>

<div id="loader" class="loader"></div>

{% if energy %}
<div class="result-card mt-4">
<h4>Result</h4>
<p>⚡ {{energy}} kWh</p>
<p>💰 ₹ {{cost}}</p>
<p>🌱 {{carbon}} kg CO₂</p>
</div>
{% endif %}

{% endblock %}
