{% extends "base.html" %}

{% block content %}

<h2 class="text-center mb-4">Energy Consumption Prediction</h2>

<form action="/predict" method="post" onsubmit="showLoader()">

<div class="card shadow p-4">

<div class="row">
<div class="col-md-4">
<label>Current</label>
<input class="form-control" name="current" required>
</div>

<div class="col-md-4">
<label>Temperature</label>
<input class="form-control" name="temperature" required>
</div>

<div class="col-md-4">
<label>Usage Hours</label>
<input class="form-control" name="usage" required>
</div>
</div>

<br>

<div class="row">
<div class="col-md-4">
<label>Month</label>
<input class="form-control" name="month">
</div>

<div class="col-md-4">
<label>Day</label>
<input class="form-control" name="day">
</div>

<div class="col-md-4">
<label>Hour</label>
<input class="form-control" name="hour">
</div>
</div>

<br>

<button class="btn btn-primary w-100 animate-btn">
Predict Energy
</button>

</div>
</form>

<!-- Loader -->
<div id="loader" class="loader"></div>

{% if energy %}
<div class="result-card mt-4">
<h4>Prediction Result</h4>
<p>⚡ Energy: {{energy}} kWh</p>
<p>💰 Cost: ₹ {{cost}}</p>
<p>🌱 Carbon: {{carbon}} kg</p>
</div>
{% endif %}

{% endblock %}
